{% load static %}
{% load banners_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style/css/admin.css' %}">
    <title>{{ title_site }}</title>
</head>
<body>
<div>
    Welcome <b>{{ user }}</b>
<!--    Отображение корзины в Хидере-->
    <div class="container">
        {% with total_items=cart|length %}
        {% if cart|length > 0 %}
        Корзина:
        <a href="{% url 'cart:index' %}">
            {{ total_items }} шт.
            {{ cart.get_total_price }} руб.
        </a>
        {% else %}
        Корзина пуста
        {% endif %}
        {% endwith %}
        {% if user.is_superuser %}
        <p><a href="{% url 'store:settings' %}">Settings</a></p>
        {% endif %}
    </div>
</div>
<table class="flex">
    <tr>
        <th>Title</th>
        <th>Image</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td><img src="{{ product.photos.url }}" width="120" alt=""></td>
    </tr>
    <a href="{% url 'cart:cart_add_product' product.slug %}">
        <button type="button" class="btn btn-primary">Добавить в корзину</button>
    </a>
    {% endfor %}
</table>

<div>
    <a href="{% url 'cart:index' %}">
        <button type="button" class="btn btn-primary">Корзина</button>
    </a>

</div>

<div>
    {% banner_main_page %}
</div>

</body>
</html>