<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>Welcome <b>{{ user }}</b></div>
<table class="table table-striped">
    <tr>
        <th>Title</th>
        <th>Image</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td><img src="{{ product.photos.url }}" width="120" alt=""/></td>
    </tr>
    <a href="{% url 'cart:cart_add' product.slug %}">
        <button type="button" class="btn btn-primary">Добавить в корзину</button>
    </a>
    {% endfor %}
</table>

<div>
    <a href="{% url 'cart:index' %}">
        <button type="button" class="btn btn-primary">Корзина</button>
    </a>

</div>

</body>
</html>