<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
{% if carts %}
<table class="table table-striped">
    <tr>
        <th>Название</th>
        <th>Изображение</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>Общая стоимость</th>
    </tr>
    {% for item in carts %}
    {% with cart=item.product %}
    <tr>
        <td>{{ cart.name }}</td>
        <td><img src="{{ cart.photos.url }}" width="120" alt=""/></td>
        <td>
            <a href="{% url 'cart:cart_add' cart.slug  %}">
                <i>+</i>
            </a>
            {{ item.quantity }}
            <a href="{% url 'cart:cart_take' cart.slug %}">
                <i>-</i>
            </a>
        </td>
        <td>{{ cart.price }} руб.</td>
        <td>{{ item.total_price }} руб.</td>
        <a href="{% url 'cart:cart_delete' cart.slug %}">
            <button>Удалить</button>
        </a>
    </tr>
    {% endwith %}
    {% endfor %}
</table>
`
{% else %}
Ваша корзина пуста
<a href="{% url 'store:index' %}">Назад к покупкам</a>
{% endif %}
<div>
    <b> Итого: </b>{{ cart.get_total_price }} руб.
    <b>Всего кол-во: </b>{{ cart|length }} шт.
</div>
<div>
    <a href="{% url 'cart:cart_clear' %}">
        <button type="button" class="btn btn-primary">Очистить корзину</button>
    </a>
</div>
</body>
</html>
